html {
	height: 100%;
}

body {
    background-image: url('https://live.staticflickr.com/5587/31721562846_39170b38d6_6k_d.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@font-face {
    font-family:'Tanuki Permanent Marker';
    src: url('/assets/fonts/TanukiMagic.eot');
	src: url('/assets/fonts/TanukiMagic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/TanukiMagic.woff2') format('woff2'),
		url('/assets/fonts/TanukiMagic.woff') format('woff'),
		url('/assets/fonts/TanukiMagic.svg#Tanuki Permanent Marker') format('svg');
    unicode-range: U+0020-00FE;
}

body, h1, h2, h3 {
	font-family:'Tanuki Permanent Marker';
}

