<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://pipergu.blogspot.tw/favicon.ico' rel='icon' type='image/x-icon'/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="https://github.com/ycku" class="btn btn-github"><span class="icon"></span>GitHub Profile</a>
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    <div>
---

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container_1 = document.getElementById('experience');
        var chart_1 = new google.visualization.Timeline(container_1);
        var dataTable_1 = new google.visualization.DataTable();

        dataTable_1.addColumn({ type: 'string', id: 'Period' });
        dataTable_1.addColumn({ type: 'string', id: 'Label' });
        dataTable_1.addColumn({ type: 'date', id: 'Start' });
        dataTable_1.addColumn({ type: 'date', id: 'End' });
        dataTable_1.addRows([
          [ '(2017) 台灣PostgreSQL使用者社群創辦人', 'pgSQL-TW', new Date(2017, 6, 1), new Date() ],
          [ '(2017) 財團法人資訊工業策進會工程師', '資策會數位所', new Date(2017, 9, 1), new Date() ],
          [ '(2011) 財團法人資訊工業策進會工程師', '資策會創研所', new Date(2011, 12, 11), new Date(2017, 8, 31) ],
          [ '(2010) 國家運動選手訓練中心體育役', '國訓中心', new Date(2010, 9, 1), new Date(2011, 10, 1) ],
          [ '(2009) 台灣大學資訊系統訓練班講師', '台大資訊系統訓練班', new Date(2009, 5, 8), new Date(2010, 8, 30) ],
          [ '(2006) 行政院主計處電子處理資料中心研究員', '行政院主計處電資中心', new Date(2006, 4, 5), new Date(2009, 12, 31) ]
          ]);
        chart_1.draw(dataTable_1);
        
        var container_2 = document.getElementById('education');
        var chart_2 = new google.visualization.Timeline(container_2);
        var dataTable_2 = new google.visualization.DataTable();

        dataTable_2.addColumn({ type: 'string', id: 'Period' });
        dataTable_2.addColumn({ type: 'string', id: 'Label' });
        dataTable_2.addColumn({ type: 'date', id: 'Start' });
        dataTable_2.addColumn({ type: 'date', id: 'End' });
        dataTable_2.addRows([
          [ '(2010) Doctor of Philosophy, Department of Computer Science and Information Engineering, National Taiwan University', '臺大資工所博士班', new Date(2004, 9, 1), new Date(2010, 6, 30) ],
          [ '(2004) Master of Science, Department of Computer Science and Information Engineering, National Taiwan University', '臺大資工所碩士班',new Date(2002, 9, 1),  new Date(2004, 6, 30) ],
          [ '(2002) Bachelor of Science, Department of Computer Science and Information Engineering, Fu Jen Catholic University', '天主教輔仁大學',  new Date(1998, 9, 1),  new Date(2002, 6, 30) ],
          [ '(1998) High School, HsinChu Senior High School', '新竹中學',new Date(1995, 9, 1),  new Date(1998, 6, 30) ]
          ]);
        chart_2.draw(dataTable_2);
      }
</script>
<div id="experience" style="height: 360px;"></div>
<div id="education" style="height: 240px;"></div>

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
